// Overrided variables of Bootstrap
// Don't rename this file on 'variables' because bootstrap folder has file named 'variables'
// and because of 'includePaths' option in gulp it will failed while compilation

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);