// Overrided variables of Bootstrap
// Don't rename this file on 'variables' because bootstrap folder has file named 'variables'
// and because of 'includePaths' option in gulp it will failed while compilation

$gray-600: #efefef;
$body-bg: #efefef;
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;
$border-color: $gray-600;
$border-radius: 1rem;
$font-family-sans-serif: Roboto,
	system-ui,
	-apple-system,
	"Segoe UI",
	"Helvetica Neue",
	arial,
	"Noto Sans",
	"Liberation Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji";
$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1600px);
$container-max-widths: (sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1540px);
$enable-shadows: true;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: 0.875rem;
$font-sizes: (1: $h1-font-size,
2: $h2-font-size,
3: $h3-font-size,
4: $h4-font-size,
5: $h5-font-size,
6: $h6-font-size,
7: $h7-font-size);
