doctype html
html.bg-body(lang="ru")
	head
		block head
	body.container-xxl.w-auto.mx-xxl-auto.mx-xl-4.my-xl-3.px-0.overflow-hidden.bg-white
		.row.g-0.d-flex.h-100
			block sidebar
			block main