doctype html
html(class='Bgc(grayColor) Px(1.5rem)--xl' lang='ru')
	head
		block head
	body(class='D(f) Maw(1540px) Mx(a) My(1.5rem)--xl H(100vh) H(bodyHeightXl)--xl Mih(500px) Bgc(white) Bdrs(1rem)--xl Ov(h) Ff(roboto)')
		block sidebar
		block main