mixin head(title)
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(name='author' content='Andrei Gunderin')
	meta(name='description' content='Layout designer project: Chat messenger')
	meta(name='keywords' content='HTML, PUG, SASS, CSS, GULP')
	title= title
	link(rel='stylesheet' href='css/main.css')
	link(rel='stylesheet' href='css/atomic.css')