extends _layouts/_main
include _mixins/_mixins


block head
	+head('Messenger Home: Andrei Gunderin')

block sidebar
	div(class='Flxs(0) D(f) Fld(c) W(100%) Maw(464px)--lg Bdend(defBorder)--lg')
		include _components/_navigation
		div(class='Fxg(1) D(f) Pt(3rem) Ov(h)')
			include _components/_contacts

block main
	div(class='D(n) D(b)--lg P(1rem)')
		h2 One more time
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.