extends _layouts/_main
include _mixins/_mixins


block head
	+head('Messenger Home: Andrei Gunderin')

block sidebar
	div(class='Flxs(0) D(f) Fld(c) W(100%) Maw(464px)--lg Bdend(defBorder)--lg')
		include _components/_navigation
		div(class='Fxg(1) D(f) Pt(3rem) Ov(h)')
			//- include _components/_contacts
			include _components/_chats

block main
	div(class='Flxg(1) D(n) Jc(c) Ai(c) D(f)--lg P(1rem)')
		include _components/_greetings